body {
    max-width: 100vw;
}
header .row {
    background-color: #402c23;
    color: white;
    padding: 5px;
    margin: 0;
}
header .navbar {
    background-color:#f5f5dc;
    padding: 0;
}
header img {
    width: 36px;
    height: 36px;
}
header .navbar img{
    width: 250px;
    height: 125px;
    padding-left: 10px;
}
header {
    text-align: center;
}

header .row .col-md-4 {
    margin: auto;
}
header .collapse .navbar-nav {
    margin: auto;
}

.login {
    display: inline-block;
    border-radius: 10px;
    border-style: groove;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 10px;
}

.carousel-caption {
    bottom: 396px;
}

.carousel-indicators {
    bottom: 50px;
}

.carousel-item img{
    width: 1200px !important;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}

.foco .col-md-4  {
    background-color: #402c23;
    border-radius: 25px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    padding: 12px 20px 10px 20px;
}

.foco .row {
    margin: -40px 0 0 0; 
}

@media (min-width: 768px){
.col-md-4 {
    max-width: 28.333333%;
    margin: 0 auto;
}}

@media (min-width: 768px){
.col-md-6 {
    margin: 0 auto;
    max-width: 45%;
}}

footer {
    background-color: #402c23;
    color: white;
}

.contato {
    background-color: #f5f5dc;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.contato h3 {
    margin-bottom: 23px;
}

.contato .container {
    display: contents;
}

.pacotes {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;

}
.pacotes h2 {
    margin-bottom: 45px;
    text-align: center;
}

.pacotes .icon {
    width: 60px;
    height: 60px;
    background-color: #f5f5dc;
    float: left;
    margin-right: 15px;
}

.pacotes .col-md-4 {
    margin-bottom: 20px;
}
.icon img {
    width: 60px;
    height: 60px;
}
.nav-link {
    font-size: 23px;
}
footer ul {
    margin: 0;
    padding: 0;
}
footer li {
    display: inline-block;
}
footer .col-md-12 {
    text-align: center;
}
.social img {
    width: 50px;
    height: 50px;
}
.ig {
    width: 67px !important;
    height: 67px !important;
}
.frase {
    font-family: 'Courier New', Courier, monospace;
}

.menu img {
    width: 70px !important;
    height: 70px !important; 
}
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-toggler {
    padding: 0;
}
.doarecebe .col-md-6  {
    background-color: #402c23;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.doarecebe .icon {
    width: 60px;
    height: 60px;
    /* background-color: #f5f5dc; */
    float: left;
    margin-right: 15px;
}
.doarecebe .row {
    margin-bottom: -30px;
}
.submeter {
    background-color: #402c23;
    border: #402c23;
}

.itensPedidos {
    position: relative;
    left: -22px;
    bottom: 13px;
    font-size: x-large;
    font-weight: 500;
    color: coral;
}

.col-md-4 .container {
    display: flex;
    align-items: center;
    max-inline-size: fit-content;
}

#dropdownMenuButton {
    margin-left: 4px;
    margin-right: 8px;
}

.navbar-nav {
    width: max-content;
}