header .row {
    background-color: #402c23;
    color: white;
    padding: 5px;
    margin: 0;
}
header .navbar {
    background-color:#f5f5dc;
}
header img {
    width: 36px;
    height: 36px;
}
header .navbar img{
    width: 250px;
    height: 125px;
}
header {
    text-align: center;
}

header .row .col-md-4 {
    margin: auto;
}

.login {
    display: inline-block;
    border-radius: 10px;
    border-style: groove;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 10px;
}

.carousel-caption {
    bottom: 396px;
}

.carousel-indicators {
    bottom: 50px;
}

.carousel-item img{
    width: 1200px;
    height: 550px;
}

.foco .row {
    margin-top: -50px;
    padding-left: 80px;
    padding-right: 80px;
}

.foco .card {
    background-color: transparent;
    border: none;
}
.foco .card-body  {
    background-color: #402c23;
    border-radius: 35px;
    color: white;
    height: 450px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
}

.foco p {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 18px;
}
.foco h2 {
    margin-top: 20px;
    text-align:center;
}
footer {
    background-color: #402c23;
    color: white;
    position: relative;
}

.contato {
    background-color: #f5f5dc;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.contato .container {
    display: contents;
}

.pacotes {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;

}
.pacotes h2 {
    margin-bottom: 45px;
    text-align: center;
}

.pacotes .icon {
    width: 60px;
    height: 60px;
    background-color: #f5f5dc;
    float: left;
    margin-right: 15px;
}
.icon img {
    width: 60px;
    height: 60px;
}
.nav-link {
    margin-left: 60px;
    font-size: 23px;
}
footer li {
    display: inline-block;
}
.social img {
    width: 50px;
    height: 50px;
}
.logofooter img {
    width: 300px;
    height: 150px;
}
footer ul {
    margin: 0;
    margin-left: 177px;
}
.ig {
    width: 67px !important;
    height: 67px !important;
}
.frase {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 120px;
}
footer .row div {
    display: flex;
    align-items: center;
}
.menu img {
    width: 70px !important;
    height: 70px !important; 
}
.navbar-light .navbar-toggler {
    border: none;
}
.doarecebe .card-body  {
    background-color: #402c23;
    border-radius: 35px;
    color: white;
    height: 150px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
}
.doarecebe .row {
    margin-top: -50px;
    padding-left: 80px;
    padding-right: 80px;
}

.doarecebe .card {
    background-color: transparent;
    border: none;
}
.doarecebe .icon {
    width: 60px;
    height: 60px;
    /* background-color: #f5f5dc; */
    float: left;
    margin-right: 15px;
}
.doarecebe .row {
    margin-bottom: -30px;
}
.submeter {
    background-color: #402c23;
    border: #402c23;
}

.itensPedidos {
    position: relative;
    left: -22px;
    bottom: 13px;
    font-size: x-large;
    font-weight: 500;
    color: coral;
}

.col-md-4 .container {
    display: flex;
    align-items: center;
    max-inline-size: fit-content;
}

#dropdownMenuButton {
    margin-left: 4px;
    margin-right: 8px;
}
