h3{
    text-align: center; 
    margin: 30px auto;   
}
.card-img {
    width: 300px;
    height: 300px;
}
.col-md-4 {
    text-align: center;
    margin-top: auto;
}
.row {
    margin-top: 53px;
}
.historia {
    text-align: justify;
    margin: 0 auto;
    padding: 22px;
}